#container {
	margin-left: 50px;
	font-size: 12px;
}

.block {
	width: 700px;
	border: 1px solid #DCDCDC;
	margin-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}
.block1 {
	margin-bottom: 10px;
}

textarea {
	margin-bottom: 10px;
}

#send {
	margin-top: 10px;
}
#italic {
	font-style: italic;
	margin-top: -10px;
	margin-bottom: 10px;
}
h2 {
	margin-top: -10px;
	background-color: white;
}
.title1 {
	width: 120px;
}
.title2 {
	width: 140px;
}
.title3 {
	width: 130px;
}